
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: darkgreen;
}

#app {
    height: 100%;
}

.poker-card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    background-color: white;
    width: 5rem;
    height: 7.5rem;
    border-radius: 0.25rem;
    margin: 1rem;
}

.suit > span {
    font-size: 1rem;
}

.face-value { 
    display: flex;
    justify-content: center;
}

.face-value > h1 {
    font-size: 2rem;
}

.suit {
    display: flex;
    justify-content: start;
    padding: 0 0.375rem;
}

.bottom-suit {
    justify-content: end;
}

.bottom-suit > span {
    transform: rotate(180deg);
}